@page
@model GymBuddy.Pages.Michelle.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div style="background: Black;
            color: antiquewhite;
            font-size: 20px;
            padding: 10px;
            margin: 20px;">
<h1 class=" text-center">Create</h1>
</div/>
<div style="min-height:400px;Color:black;
     font-size: 20px;
     padding: 10px;
     border: 15px solid lightblue;
     margin: 10px;">
<hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-8 mt-5">
                    <table class="table table-striped">
                        <tr>
                            <td class="p-3"><h2><label asp-for="Exercises.Name" class="control-label"></label>:</h2></td>
                            <td class="p-3"><input asp-for="Exercises.Name" class="form-control" /><span asp-validation-for="Exercises.Name" class="text-danger"></span></td>
                        </tr>
                        <tr>
                            <td class="p-3"><h2><label asp-for="Exercises.PrimaryMuscle" class="control-label"></label>:</h2></td>
                            <td class="p-3">
                                <input asp-for="Exercises.PrimaryMuscle" class="form-control" />
                                <span asp-validation-for="Exercises.PrimaryMuscle" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3"><h2><label asp-for="Exercises.SecondaryMuscle" class="control-label"></label>:</h2></td>
                            <td class="p-3">
                                <input asp-for="Exercises.SecondaryMuscle" class="form-control" />
                                <span asp-validation-for="Exercises.SecondaryMuscle" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.TrainingLevel):</h2></td>
                            <td class="p-3">
                                <select asp-for="Exercises.TrainingLevel" asp-items="Html.GetEnumSelectList<GymBuddy.Models.TrainingLevel>()">
                                    <option selected="selected" value="">Please select an option</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.IntensityLevel):</h2></td>
                            <td class="p-3">
                                <select asp-for="Exercises.IntensityLevel" asp-items="Html.GetEnumSelectList<GymBuddy.Models.IntensityLevel>()">
                                    <option selected="selected" value="">Please select an option</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                             <td class="p-3"><h2>@Html.DisplayNameFor(model => model.Exercises.HaveCompleted):</h2></td>
                             <td class="p-3">
                                   <input class="form-check-input" asp-for="Exercises.HaveCompleted" />        
                             </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4 text-center">
                    <h2 class="p-3 mb-1">Youtube Video</h2>
                    <input asp-for="Exercises.Video" class="form-control" />
                    <span asp-validation-for="Exercises.Video" class="text-danger"></span>

                    <h2 class="p-3 mb-3"><label asp-for="Exercises.Description" class="control-label"></label></h2>
                    <textarea style="height:150px;" asp-for="Exercises.Description" class="form-control"></textarea>
                    <span asp-validation-for="Exercises.Description" class="text-danger"></span>

                </div>
            </div>
            <div class="row" style="margin-left:auto; margin-right:auto; width:25%;" >
                <input type="submit" value="Create" class="btn btn-primary me-3" style="width:25%; text-align:center;" />
                 <button class="btn btn-primary" style="width:50%; text-align:center;"><a asp-page="Index"></a>Home</button>
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
